@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 240 7% 6%;
  --foreground: 0 0% 93%;
  --twitch-purple: 264 100% 64%;
  --twitch-dark: 240 6% 10%;
  --twitch-light: 0 0% 100%;
  --button: 240 6.93% 19.8%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
